@import url(layout.css);
/* Headers */
.header {
	display: flex;
	flex-direction: row;
	margin: 10px, 50px;
	width: 960px;
}
.header nav {
	padding-left: 123px;
}
.header nav ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
}
.header nav li {
	float: left;
}
.header nav li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	color: orange;
	padding: 0 26px;
	line-height: 100px;
	text-transform: uppercase;
	font-size: 12px;
}
.header li a:hover {
	color: #111;
}

/*login*/
.content {
    margin-top: 50px;
    height: 560px;
    border-radius: 3%;
    display: flex;
    box-shadow: -5px 5px;
}
.content h1 {
    text-transform: uppercase;
    color:black;
}

.content .login {
    margin-top: 100px;
    width: 450px;
    align-items: center;
    text-align: center;
    color:gray;
}
.content .account {
    display: flex;
    flex-direction: column;
}
.content .account input {
    width: 350px;
    height: 50px;
    background-color: #e2e2e2;
    border: none;
    margin-bottom: 10px;
    margin-left: 47px;
    border-radius: 3%;
}
.content .sign-in {
    display: flex;
    flex-direction: column;
}
.sign-in a {
    text-decoration: none;
    color:#e2e2e2;
}
.sign-in button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 3%;
    text-transform: uppercase;
    margin-left: 147px;
}
.sign-in button:hover {
    border-radius: 3%;
    background-color: #f39400;
}

/*sign-up*/
.content .sign-up {
    width: 450px;
    text-align: center;
    color:gray;
    background-color: #f39400;
    border-radius: 3%;
}
.sign-up button {
    width: 150px;
    height: 30px;
    border: thin;
    border-radius: 3%;
    text-transform: uppercase;
    background-color: #f39400;
}
.sign-up button:hover {
    border-radius: 3%;
    background-color: #e2e2e2;
}
.sign-up .hello-text {
    margin-top: 200px;
}
 
/*footer*/
.footer {
	background-color: #e2e2e2;
	margin: -20px -320px;
	height: 100px;
}
.footer .text nav {
	font-size: 12px;
	color: gray;
}
.footer nav ul {
	list-style-type: none;
}
.footer nav li {
	float: left;
}
.footer nav a {
	text-decoration: none;	
	color: gray;
	padding: 0 13px;
}
.footer img {
	float: right;
	padding-right: 250px;
	padding-top: 20px;
}
.footer .text {
	display: flex;
	flex-direction: column;
	padding-left: 320px;
	padding-top: 20px;
	color: gray;
	font-size: 12px;
}
.text nav {
	margin-left: -52px;
	padding-bottom: 10px;
}